/* Ovewrride this file in any theme to add custom styles. */
.md-svg-leaf {
  fill: $brand-secondary-color;
  height: $base-line-height;
  width: 1em;
  }

.md-svg-twoleaf {
  fill: $brand-secondary-color;
  height: $base-line-height;
  width: 1em;
}

.md-svg-fern {
  fill: $brand-secondary-color;
  height: $base-line-height;
  width: 1em;
}

.md-svg-hk {
  fill: $brand-secondary-color;
  height: $base-line-height;
  width: 1.4em;
}

html {
  background: #1F2730;
  font-size: 14px;
  scroll-behavior: smooth;
  font-weight: 300;

  @media (min-width: 992px) {
    font-size: 16px;
  }

  @media (min-width: 1600px) {
    font-size: 18px;
  }
}

.menu-driver { 
  .menu { 
    border-width: 0;
    padding-top: 0;

    .name{
      border-bottom: 1px solid #{$brand-secondary-color};
      font-family: 'DomaineSans', sans-serif !important;  
      font-weight: bold !important;
    }
  }
}

.menu-driver nav ul li a {
  opacity: 0.6;
  font-family: 'DomaineSans', sans-serif !important;  
  font-weight: bold !important;

  &:hover {
    opacity: 1;
  }
}

.menu-driver nav ul li a.current, .menu-driver nav ul li a.current:visited{
  opacity: 0.9;
  border-bottom: none;
  color: #800000;
}

.addition {
  *{
    font-size: 0.7rem;
    opacity: 0.6;
  }
}

body .menu-driver .menu .section .item {

  .about{
  flex: 1 80%;

    .description{
      font-weight: 200;
    }
  }

}

.menu-driver .menu .section>.items>.item>.about>.description{
  font-weight: 200;
}

.menu-driver .menu .section .additions .addition .name, .menu-driver .category .section .additions .addition .name{
  font-size: 0.7rem;
  flex: none;
}

div, header {
  font-size: 0.9375rem;
}

@media only screen and (min-width: 768px) {
  .menu-driver {
    .menu {
      .section {
          .item {
            .choices {
              .choice {
                .name {
                  font-size: 0.7rem;
                }
              }
            }
          } 
      }
    }
    .menu-content {
      nav.menu-nav {
        font-size: 0.9375rem;
      }
    
      .menu a.anchor {
        top: -1rem;
      }
    }
  }
}