$brand-primary-dark-color: #000033 !global;
$brand-primary-light-color: #e6e6e6 !global;
$brand-secondary-color: #777 !global;
$brand-accent-color: #777 !global;

body {
  --brand-primary-dark-color: #{$brand-primary-dark-color};
  --brand-primary-light-color: #{$brand-primary-light-color};
  --brand-secondary-color: #{$brand-secondary-color};
  --brand-accent-color: #{$brand-accent-color};

  color: #{$brand-primary-dark-color};
  background-color: #{$brand-primary-light-color};
}
