/* Ovewrride this file in any theme to add custom styles. */

.md-svg {
  fill: $brand-secondary-color;
  height: 0.9rem;
  margin-bottom: -1px;
}

.md-svg-leaf {
  fill: $brand-secondary-color;
  width: 1em;
  }

.md-svg-twoleaf {
  fill: $brand-secondary-color;
  width: 1em;
}

.md-svg-fern {
  fill: $brand-secondary-color;
  width: 1em;
}

.md-svg-hk {
  fill: $brand-secondary-color;
  width: 1.4em;
}

.md-svg-icon {
  height: $base-line-height;
  height: 0.9rem;
  margin-bottom: -3px;
}
