/* Ovewrride this file in any theme to add custom styles. */
.md-svg-leaf {
  fill: #c9f595;
  height: $base-line-height;
  width: 1em;
  }

.md-svg-twoleaf {
  fill: #74c9e5;
  height: $base-line-height;
  width: 1em;
}

.md-svg-fern {
  fill: #7c519c;
  height: $base-line-height;
  width: 1em;
}

.md-svg-hk {
  fill: $brand-secondary-color;
  height: $base-line-height;
  width: 1.4em;
}

.menu-driver .menu-content nav.menu-nav a {
  border-bottom: 1px solid #e85e9d;
  color: #e85e9d;
  padding-bottom: .25em;
  text-decoration: none;
}

.menu-driver .menu-content nav.menu-nav a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 2px;
  color: #74c9e5;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.menu-driver {
  header {
    .location {
      svg {
        height: $base-line-height;
      }
    }
  }
}

.menu-driver .menu-content nav.menu-nav ul {
  margin-top: $base-line-height;
}

.menu-driver header .hamburger .toggle span {
  background: #7c519c;
}

.menu-driver .menu-content #hamburger-menu li {
  color: #e85e9d;
  padding-bottom: .25em;
  text-decoration: none;
}

.menu-driver .menu-content #hamburger-menu li a {
  color: #e85e9d;
  padding-bottom: .25em;
  text-decoration: none;
}

.menu-driver .menu-content #hamburger-menu li a:visited {
  color: #e85e9d;
  padding-bottom: .25em;
  text-decoration: none;
}

.menu-driver .menu-content #hamburger-menu li a:active {
  color: #74c9e5;
  padding-bottom: .25em;
  text-decoration: none;
}

.menu-driver .menu-content #hamburger-menu a:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 2px;
  color: #74c9e5;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.menu-driver .menu-content #hamburger-menu {
  top: $base-line-height;
}
