$brand-color: black;
$brand-secondary-color: #455561;
$brand-background-color: #f1f0ee;
$menu-color: black;
$menu-secondary-color: #666666;
$menu-background-color: #f1f0ee;
$border-color: #455561;

$border-width: 0.05rem;

body {
  --brand-color: #{$brand-color};
  --brand-secondary-color: #{$brand-secondary-color};
  --brand-background-color: #{$brand-background-color};
  --menu-color: #{$menu-color};
  --menu-secondary-color: #{$menu-secondary-color};
  --menu-background-color: #{$menu-background-color};
  --border-color: #{$border-color};
  --border-widtn: #{$border-width};
  color: var(--brand-color);
  background-color: var(--brand-background-color);
}
.menu-driver {
  
  header {
    @extend %sans-serif-font;
    text-transform: uppercase;
    .logo {
      margin-left: $base-line-height;
    }
    a {
      line-height: 1rem;
    }
    display: flex;
    flex-wrap: wrap;
    div {
      margin: 0;
    }
    .location {
      flex: 1;
    }
    .hamburger {
      margin-right: $base-line-height;
      width: $base-line-height;
      .toggle span {
          background: #b08f44;
          display: block;
          margin: 5px 0;
          height: 2px;
          width: 100%;
      }
    }
  }
  
  .menu {
    color: var(--menu-color);
    background-color: var(--menu-background-color);
    border-color: $brand-background-color;
    .name {
      color: var(--brand-secondary-color);
      text-align: left;
      margin-bottom: - $border-width;
      border-bottom: $border-width solid var(--border-color);
    }
    .section {
      .name {
        color: var(--brand-color);
        border: unset;
      }
      .description {
        color: var(--menu-secondary-color);
      }
    }
    .section + .section {
      padding-top: $base-line-height - $border-width;
      border-top: $border-width solid var(--border-color);
    }
  }
  .menu.rtl {
    text-align: right;

    .name {
      text-align: right;
    }
  }

  .guide {
    &, &:before, &:after {    
      outline: 3px dotted white;
    }
  }

  nav {
    background-color: var(--brand-background-color);
    border-color: var(--border-color);
    border-bottom-width: $border-width;
    margin-bottom: 0;
  
    ul {
      li {
        a.current, a:visited.current {
          color: var(--border-color);
          background-color: unset;
          border-bottom: $border-width solid var(--border-color);
        }
        a, a:visited, a:hover, a:active {
          color: inherit;
        }
      }
      // The category navigation puts the 'current' class on the <li> instead of the
      // <a> within it.  TODO: Make that more consistent and DRY these styles.
      li.current {
        a, a:visited {
          color: var(--border-color);
          background-color: unset;
          border-bottom: $border-width solid var(--border-color);
        }
      }
    }
  
  }
  
  .menu {
    a.anchor {
      display: block;
      position: relative;
      top: - ($base-line-height * 5);
    }
  }

  nav.menu-nav, nav.category-nav {
    border-style: solid;
    border-top: $border-width;
    padding-top: $base-line-height - ($border-width * 2);
    border-bottom-color: var(--border-color);
    border-bottom-width: $border-width;
    border-bottom-style: solid;
    margin-left: unset;
    margin-right: unset;
  }
  nav.category-nav {
    padding-bottom: $base-line-height;
    margin-bottom: 0;
  }

  padding-left: 0;
  padding-right: 0;

  .menu-content {
    #hamburger-menu {
      @extend %serif-font;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: $brand-background-color;
      z-index: 2;
      transition: 1s;
      transition-timing-function: ease-in-out;
      padding-left: $base-line-height;
      opacity: 0;
      pointer-events: none;

      li {
        a, a:visited {
          color: $brand-color;
          text-decoration: none;
        }
        padding-bottom: $base-line-height;
      }
    }
    #hamburger-menu.active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  #cookie-notice {
    border-top-width: $border-width;
  }
}
@media only screen and (min-width: 768px) {
  .menu-driver {
    padding-left: $base-line-height;
    padding-right: $base-line-height;
    .menu-content {
      nav {
        min-width: 12rem;
      }
      nav.menu-nav {
        border: 0;
      }
    }
    .menu {
      a.anchor {
        display: block;
        position: relative;
        top: - ($base-line-height * 2);
      }
    }

  }
}

@media (prefers-color-scheme: light) {
  .menu-driver {
    .menu {
      border-width: .2rem;
      padding: $base-line-height - .2rem;
    }

    nav {
      margin-bottom: $base-line-height;
    }
    
    .guide {
      &, &:before, &:after {    
        outline: 3px dotted #777;
      }
    }
  }
}


@media print {
  nav {
    display: none;
  }
}