/* Ovewrride this file in any theme to add custom styles. */
.md-svg-leaf {
  fill: #b09044;
  height: $base-line-height;
}

.md-svg-twoleaf {
  fill: #b09044;
  height: $base-line-height;
}

.md-svg-fern {
  fill: #b09044
  height: $base-line-height;
}
