/* Ovewrride this file in any theme to add custom styles. */
.md-svg-leaf {
  fill: #b09044;
  height: $base-line-height;
  width: 1em;
  }

.md-svg-twoleaf {
  fill: #b09044;
  height: $base-line-height;
  width: 1em;
}

.md-svg-fern {
  fill: #b09044;
  height: $base-line-height;
  width: 1em;
}

.md-svg-hk {
  fill: #b09044;
  height: $base-line-height;
  width: 1.4em;
}
