$brand-primary-dark-color: #383330;
$brand-primary-light-color: #DDDCD0;
$brand-secondary-color: #383330;
$brand-accent-color: #CD5443;

body {
  --brand-primary-dark-color: #{$brand-primary-light-color};
  --brand-primary-light-color: #{$brand-primary-dark-color};
  --brand-secondary-color: #{$brand-secondary-color};
  --brand-accent-color: #{brand-accent-color};

  color: #{$brand-primary-light-color};
  background-color: #{$brand-primary-dark-color};
}

@media (prefers-color-scheme: light) {

  body {
    --brand-primary-dark-color: #{$brand-primary-dark-color};
    --brand-primary-light-color: #{$brand-primary-light-color};
    --brand-secondary-color: #{$brand-secondary-color};
    --brand-accent-color: #{brand-accent-color};

    color: #{$brand-primary-dark-color};
    background-color: #{$brand-primary-light-color};
  }

}
