<ul id="hamburger-menu">
      <% if location_id.eql? 'casa-calavera-las-vegas' %>
            <li class="current-menu-item menu-item-1284 av-active-burger-items">
                  <a href="https://hakkasangroup.com/casacalavera/las-vegas/" itemprop="url" style=""><span
                              class="avia-bullet"></span><span class="avia-menu-text">Home</span><span
                              class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                          class="avia-arrow"></span></span></span></a>
            </li>
            <li class="menu-item-1065 av-active-burger-items">
                  <a href="https://hakkasangroup.com/casacalavera/las-vegas/reservations/" itemprop="url" style=""><span
                              class="avia-bullet"></span><span class="avia-menu-text">Reservations</span><span
                              class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                          class="avia-arrow"></span></span></span></a>
            </li>
            <li class="menu-item-1348 av-active-burger-items">
                  <a href="https://menus.hakkasangroup.com/casa-calavera-las-vegas/" itemprop="url" style=""><span
                              class="avia-bullet"></span><span class="avia-menu-text">Menu</span><span
                              class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                          class="avia-arrow"></span></span></span></a>
            </li>
            <li class="menu-item-1062 av-active-burger-items">
                  <a href="https://hakkasangroup.com/casacalavera/las-vegas/gallery/" itemprop="url" style=""><span
                              class="avia-bullet"></span><span class="avia-menu-text">Gallery</span><span
                              class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                          class="avia-arrow"></span></span></span></a>
            </li>
            <li class="menu-item-1064 av-active-burger-items">
                  <a href="https://hakkasangroup.com/casacalavera/las-vegas/private-events/form/" itemprop="url"
                        style=""><span class="avia-bullet"></span><span class="avia-menu-text">Private
                              Events</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                          class="avia-arrow"></span></span></span></a>
            </li>
            <% else %>
                  <li class="current-menu-item menu-item-1284 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/los-cabos/" itemprop="url" style=""><span
                                    class="avia-bullet"></span><span class="avia-menu-text">Home</span><span
                                    class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1065 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/los-cabos/reservations/" itemprop="url"
                              style=""><span class="avia-bullet"></span><span
                                    class="avia-menu-text">Reservations</span><span class="avia-menu-fx"><span
                                          class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1348 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/los-cabos/menu/" itemprop="url" style=""><span
                                    class="avia-bullet"></span><span class="avia-menu-text">Menu</span><span
                                    class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1062 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/los-cabos/gallery/" itemprop="url"
                              style=""><span class="avia-bullet"></span><span class="avia-menu-text">Gallery</span><span
                                    class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1064 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/los-cabos/private-events/" itemprop="url"
                              style=""><span class="avia-bullet"></span><span class="avia-menu-text">Private
                                    Events</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1061 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/london/" itemprop="url" style=""><span
                                    class="avia-bullet"></span><span class="avia-menu-text">London</span><span
                                    class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <li class="menu-item-1467 av-active-burger-items">
                        <a href="https://hakkasangroup.com/casacalavera/las-vegas/" itemprop="url" style=""><span
                                    class="avia-bullet"></span><span class="avia-menu-text">Las Vegas</span><span
                                    class="avia-menu-fx"><span class="avia-arrow-wrap"><span
                                                class="avia-arrow"></span></span></span></a>
                  </li>
                  <% end %>
</ul>