/* Anything that will be toggled for dark mode needs its own name. */
$brand-color-light: #383330;
$brand-secondary-color-light: #383330;
$brand-background-color-light: #DDDCD0;
$menu-color-light: #383330;
$menu-secondary-color-light: #383330;
$menu-background-color-light: #DDDCD0;
$border-color-light: #DDDCD0;

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: light) {

  body {
    --brand-color-light: #{$brand-color-light};
    --brand-background-color-light: #{$brand-background-color-light};
    --menu-color-light: #{$menu-color-light};
    --menu-secondary-color-light: #{$menu-secondary-color-light};
    --menu-background-color-light: #{$menu-background-color-light};
    --border-color-light: #{$border-color-light};
    color: var(--brand-color-light);
    background-color: var(--brand-background-color-light);
  }

  .menu-driver {
    header {
      .hamburger {
        .toggle span {
            background: var(--brand-color-light);
        }
      }
    }

    nav {
      color: var(--menu-color-light);
      background-color: var(--menu-background-color-light);
    }

    nav.menu-nav, nav.category-nav {
      border-bottom-color: var(--brand-color--light);
    }

    .menu {
      color: var(--menu-color-light);
      background-color: var(--menu-background-color-light);
      border-color: var(--border-color-light);
      .name {
        color: var(--menu-color-light);
        border-bottom-color: var(--border-color-light);
      }
      .section {
        .name {
          color: var(--menu-color-light);
        }
        .description {
          color: var(--menu-secondary-color-light);
        }
      }
    }

    #cookie-notice {
      color: var(--brand-background-color-light);
      background-color: var(--brand-color-light);
      border-color: var(--brand-background-color-light);
      border-top-width: $border-width;
      .button {
        color: var(--brand-color-light);
        background-color: var(--brand-background-color-light);
        border-color: var(--brand-color-light);
        a, a:visited {
          color: var(--brand-color-light);
          background-color: var(--brand-background-color-light);
        }
      }
    }

  }
  nav {
    border-color: var(--border-color-light);

    ul {
      li {
        a.current {
          background-color: var(--border-color-light);
        }
      }
    }
  }
}
