$brand-primary-dark-color: white !global;
$brand-primary-light-color: #26444f !global;
$brand-secondary-color: #CCC !global;
$brand-accent-color: white !global;

body {
  --brand-primary-dark-color: #{$brand-primary-dark-color};
  --brand-primary-light-color: #{$brand-primary-light-color};
  --brand-secondary-color: #{$brand-secondary-color};
  --brand-accent-color: #{$brand-accent-color};

  color: #{$brand-primary-dark-color};
  background-color: #{$brand-primary-light-color};
}
