<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<header>
  <div class="siteHeader__col">
<div id="nav-icon">
  <span></span>
  <span></span>
</div>
  </div>

<div class="nav-overlay">
<div class="menu-container" height="100%;">
  <div class="menu-row">
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://hakkasangroup.com/herringbone/la-jolla/">Home</a></div>
      </div>
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://hakkasangroup.com/herringbone/la-jolla/gallery/">Gallery</a></div>
      </div>
  </div>
  <div class="menu-row">
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://hakkasangroup.com/herringbone/la-jolla/reservations/">Reservations</a></div>
      </div>
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://menus.hakkasangroup.com/herringbone-0/">Menu</a></div>
      </div>
  </div>
  <div class="menu-row">
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://hakkasangroup.com/herringbone/la-jolla/private-events/">Private Events</a></div>
      </div>
      <div class="menu-column">
        <div class="ham-menu-item"><a href="https://gifts-us.hakkasangroup.com/vouchers/herringbone-monetary-voucher/">Gift Cards</a></div>
      </div>
  </div>
  <div class="menu-row">
    <div class="menu-column">
      <a href="https://hakkasangroup.com" class="hakkasan-logo"></a>
    </div>
  </div>
  </div>
</div>
  <div class="location"><a href="<%= data.location_website %>" class="location"><%= data.location_name %></a></div>
</header>
